body, html {
	color: black;
	background-color: white;
}


div#message {
	display: none;
	color: white;
	text-align: center;
	padding: 1em;
    margin: 2% auto;
	width: 40%;
}

div#message.good {
	display: block;
	background: darkgreen;
	border: 2px dashed white;
}

div#message.bad {
	display: block;
	background: darkred;
	border: 2px dashed red;
}

div#pform {
	background: lightgray;
	border: 2px dashed red;
	width: 40%;
	padding: 1em;
    margin: 12% auto;
	display: block;
}

div#pform form {
	text-align: right;
}

div#pform label {
    padding-right: 10px;
    clear: both;
	display: block;
}

