body, html {
	color: black;
	background-color: white;
}


div#message {
	display: none;
	color: white;
	text-align: center;
	padding: 1em;
    margin: 2% auto;
	width: 40%;
}

div#message.good {
	display: block;
	background: darkgreen;
	border: 2px dashed white;
}

div#message.bad {
	display: block;
	background: darkred;
	border: 2px dashed red;
}

div#pform {
	background: lightgray;
	border: 2px dashed red;
	width: 40%;
	padding: 1em 1em 2.5em;
	margin: 5% auto 0;
	display: block;
}

div.fieldcontrol {
	display: block;
	clear: both;
}

div#pform label {
	text-align: right;
}

div#pform input,select {
	text-align: left;
	float: right;
}

