body, html {
	color: black;
	background-color: white;
}


div#message {
	text-align: center;
}

div#pform {
	background: lightgray;
	border: 2px dashed red;
	width: 40%;
	padding: 1em;
    margin: 18% auto;
	display: block;
}

div#pform form {
	text-align: right;
}

div#pform label {
    padding-right: 10px;
    clear: both;
	display: block;
}

